/*Styling for the light grey background as the one shown in example*/
body {
    background-color: rgb(244, 246, 248);
    font-family: sans-serif;
}

/*Styling for the main container in which all elements will reside. Narrowed down to create  visual appeal*/
.container{
  padding: 20px 150px 20px 150px;
}

/*Styling for search bar with the icon instead of the search button*/
input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 8px 8px; 
  background-repeat: no-repeat;
  padding: 8px 40px;
}

/*Styling for the movie heading and it's placement on top of the search bar*/
.movieHeading {
  margin: 0px;
  padding-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

/*Styling for the nominations section with the same colour scheme as the example provided to match the light grey background*/
.nominationsSection  {
  padding: 0px 23px 2px 30px;  
  border: 2px solid rgb(238, 237, 237);
  border-radius: 8px;
  height: 175px;
  background-color: white;
  padding-bottom: 5px;  
  font-size: 12px;
  float: right;
  width: 45%;
  margin-top: 18px;
}

/*Styling for Styling for the main page heading The Shoppies*/
.pageHeading {
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

/*Styling for the results section in which the search results are displayed matching the given light grey background*/
.resultsSection {
  padding: 0px 23px 2px 30px;  
  border: 2px solid rgb(238, 237, 237);
  border-radius: 8px;
  height: 300px;
  background-color: white;
  padding-bottom: 5px;  
  font-size: 12px;
  float: left;
  width: 42%;
  margin-top: 18px;

}

/*Styling for the search section with border and rounded design for elegance*/
.searchMovie {
    padding: 15px 23px 2px 30px;  
    border: 2px solid rgb(238, 237, 237);
    border-radius: 8px;
    height: 70px;
    background-color: white;
    padding-bottom: 5px;  
}

/*Styling for the search button which I chose to hide to give it a sleek design*/
.searchBtn{
  visibility: hidden;
}